@model Pardakht.PardakhtPay.Shared.Models.WebService.Sms.SmsVerifyModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>درگاه پرداخت پی</title>
    <!-- Favicon -->
    <link rel="icon" href="favicon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <!-- Bootstrap, styles -->
    <link href="~/components/css/Bootstrap-v4.6.0/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/components/css/Bootstrap-v4.6.0/bootstrap-rtl.min.css" rel="stylesheet" media="screen">
    <link href="~/components/css/common.css" rel="stylesheet" media="screen">
    <link href="~/components/css/result.css" rel="stylesheet" media="screen">
</head>
<body class="bg-img result-page">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-start">
                    <a href="index.html" class="main-logo d-flex align-items-center justify-content-center">
                        <img src="/img/logo.png" alt="PardakhtPay logo" width="212">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container-fluid wrapper">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="boxer bigger d-flex flex-column justify-content-center align-items-center">
                        <div class="timer" style="top:15px !important">
                            <p>زمان باقیمانده : <span id="timer"></span></p>
                            <p style="margin-bottom:20px;">
                                لطفا کدی را که با پیامک برای شما ارسال شده است در کادر زیر وارد کنید.
                            </p>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-10 mx-auto">
                    <div class="boxer smaller mx-auto">
                        <form action="/invoice/smsconfirmation" method="post" id="smsForm" class="d-flex flex-column justify-content-center align-items-center">
                            <input type="hidden" id="InvoiceKey" name="InvoiceKey" value="@Model.InvoiceKey" />                         
                                <input type="text" class="form-control text-center ltr" name="VerifyCode" id="verifyCode" value="@(Model.VerifyCode)" placeholder="کد دریافت شده با پیامک" />                           
                            <div class="form_buttons d-flex align-items-center justify-content-center mt-3">
                                <button type="submit" class="btn-success" id="btnSubmit">تایید کد</button>
                                <button class="btn-white" type="button" onclick="cancel();" id="btnCancel">انصراف</button>
                            </div>
                        </form>
                        <form action="/invoice/cancel" method="post" id="cancelForm">
                            <input type="hidden" name="token" value="@Model.InvoiceKey" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 hidden-sm text-center"></div>
                <div id="alertbox" hidden class="alert alert-danger alert-dismissible col-sm-6 text-center" role="alert">
                </div>
                <div class="col-md-3 hidden-sm text-center"></div>
            </div>
        </div>
    </main>

    <input type="hidden" id="timersec" name="timersec" value="@Model.Seconds" />
    <script src="~/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            @if(TempData["Error"] != null)
            {
                @:$('#alertbox').text('@(Html.Raw(TempData["Error"]))');
                @:$('#alertbox').show();
            }

            if ($('#expired').length <= 0) {
                var x = setInterval(function () {
                    var totalSeconds = parseInt($('#timersec').val());
                    if (totalSeconds <= 0) {
                        clearInterval(x);
                        window.location.href = '/invoice/sendsms?invoice_key=@(Model.InvoiceKey)'
                    }
                    var minutes = Math.floor(totalSeconds / 60);
                    var seconds = Math.floor(totalSeconds % 60);
                    $('#timer').text(pad(minutes, 2) + ":" + pad(seconds, 2));
                    $('#timersec').val(parseInt($('#timersec').val()) - 1);
                }, 1000);
                function pad(num, size) {
                    var s = "000000000" + num;
                    return s.substr(s.length - size);
                }
            }
        });

        $('#smsForm').submit(function () {
            $('#alertbox').hide();
            var verifyCode = $('#verifyCode').val();
            if (verifyCode == undefined || verifyCode == null || verifyCode.length == 0) {
                $('#alertbox').text('کد پیامکی وارد شده معتبر نیست.');
                $('#alertbox').show();
                return false;
            }
            $('#btnSubmit').attr('disabled', 'true');
            $('#btnCancel').attr('disabled', 'true');
            return true;
        });
        function cancel() {
            $('#cancelForm').submit();
        }
    </script>
</body>
</html>